.Table_lessons{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0%;
    background: #EEF8FD;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    width: 50vw;
    height: 100vh;
}


/* td {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #F2F2F2;
    margin-top: -1%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-end-end-radius: 25%;
    border-bottom-left-radius: 25%;
    font-size: 112%;
    text-align: center;
    padding:3%;
} */
td {
    background-color: #F2F2F2;
    border-radius: 5px;
    border: none;
    height: 15px;
    color: #1c2c53;
    text-align: center;
    font-family: inherit;
    padding-bottom: 10px;

}

th {
    font-weight: 600;
}

tr {
    padding-bottom: 10px;

}
.td1 {
    width: 150px;
}

.td2 {
    width: 100px;
}

.td3 {
    width: 200px;
}

.td4 {
    width: 200px;
}

.td5 {
    width: 250px;
}

.td6 {
    width: 150px;
}
.bt {
    width: 150px;
    color: #1c2c53;

}



/*
*/

.td1 {
    /* width: 150px; */
}

.td2 {
    /* width: 100px; */
}

.td3 {
    /* width: 200px; */
}

.td4 {
    /* width: 200px; */
}

.td5 {
    /* width: 250px; */
}

.td6 {
    /* width: 150px; */
}

.btn {
    position: absolute;
    left: 210px;
    bottom: 100px;
    right: 250px;
    top: 380px;
    bottom: 30px;
    background: #43bda2;
    border: 0.653653px solid #43bda2;
    box-sizing: border-box;
    box-shadow: 0px 5.92806px 11.1151px rgb(0 0 0 / 10%);
    border-radius: 58.8287px;
}